@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  min-height: 100%;
  background-image: url("bg.png");
  margin: 0 auto;
}
.outer_container {
  width: 1200px;
  margin: 0 auto;
}
.inner_container {
  width: 940px;
  margin: 0 auto;
}
h2 {
  font-size: 42px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: #212121;
  line-height: 0.662;
  text-align: center;
}
h3 {
  margin-top: 32px;
  font-size: 21px;
  font-family: "Fira Sans";
  font-weight: 300;
  letter-spacing: -1px;
  color: #727272;
  line-height: 1.325;
  text-align: center;
}
header {
  height: 90px;
  z-index: 1;
  background-color: #8cc34b;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
header .outer_container {
  height: 100%;
  display: flex;
  align-items: center;
}
.avatar {
  float: left;
  width: 66px;
  height: 66px;
  margin-left: 26px;
}
.author_text_container {
  float: left;
  margin-left: 16px;
}
.icons {
  float: left;
  margin-left: auto;
  margin-right: 24px;
  font-size: 35px;
}
.icons a {
  color: rgba(255, 255, 255, 0.702);
  margin-left: 10px;
  text-decoration: none;
}
.icons a:focus {
  color: #fff;
  outline: none;
}
.icons a:hover {
  color: #fff;
}
.author_name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #ffffff;
  line-height: 1.333;
  text-align: left;
}
.author_email {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 2;
  text-align: left;
}
.about_student {
  height: 401px;
  background-color: #fff;
  padding-top: 72px;
}
.about_student .inner_container {
  height: 100%;
  display: block;
}
.about_student .inner_container .cards {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}
.student_card {
  display: flex;
  align-items: flex-start;
}
.student_card img {
  width: 140px;
  height: 140px;
}
.student_card div {
  margin: 0 0 32px 32px;
  width: 280px;
}
.student_card div h3 {
  margin-top: 0px;
  font-size: 21px;
  font-family: "Fira Sans";
  font-weight: 400;
  color: #000;
  line-height: 1.325;
  text-align: left;
}
.student_card div p {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Fira Sans";
  letter-spacing: -0.5px;
  color: #727272;
  line-height: 1.5;
  text-align: left;
}
.courses {
  padding-top: 72px;
}
.courses .courses_grid {
  margin: 32px auto 64px auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.courses .courses_grid .course_card {
  height: 360px;
  text-align: center;
  color: white;
  vertical-align: middle;
  background-color: red;
}
.courses .courses_grid .course_card img {
  width: 100%;
}
.courses .courses_grid .course_card .description {
  background-color: purple;
  color: aqua;
}
.courses .courses_grid .course_card .watched {
  height: 100px;
  background-color: #f6f7f2;
}
.courses .courses_grid .course_card:nth-child(3) {
  background-color: olive;
  height: 450px;
}
.clr {
  height: 72px;
  clear: both;
}
footer {
  z-index: 3;
  height: 72px;
  margin-top: -72px;
  line-height: 72px;
  text-align: center;
  background-color: #212121;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.5;
}
