@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  min-height: 100%;
  background-image: url("bg.png");
  margin: 0 auto;
}
.outer_container {
  width: 1200px;
  margin: 0 auto;
}
.inner_container {
  width: 940px;
  margin: 0 auto;
}
h2 {
  font-size: 42px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: #212121;
  line-height: 0.662;
  text-align: center;
}
h3 {
  margin-top: 32px;
  font-size: 21px;
  font-family: "Fira Sans";
  font-weight: 300;
  letter-spacing: -1px;
  color: #727272;
  line-height: 1.325;
  text-align: center;
}
header {
  height: 90px;
  z-index: 1;
  background-color: #8cc34b;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
header .outer_container {
  height: 100%;
  display: flex;
  align-items: center;
}
.avatar {
  float: left;
  width: 66px;
  height: 66px;
  margin-left: 26px;
}
.author_text_container {
  float: left;
  margin-left: 16px;
}
.icons {
  float: left;
  margin-left: auto;
  margin-right: 24px;
  font-size: 35px;
}
.icons a {
  color: rgba(255, 255, 255, 0.702);
  margin-left: 10px;
  text-decoration: none;
}
.icons a:focus {
  color: #fff;
  outline: none;
}
.icons a:hover {
  color: #fff;
}
.author_name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #ffffff;
  line-height: 1.333;
  text-align: left;
}
.author_email {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 2;
  text-align: left;
}
.about_student {
  height: 401px;
  background-color: #fff;
  padding-top: 72px;
}
.about_student .inner_container {
  height: 100%;
  display: block;
}
.about_student .inner_container .cards {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
}
.student_card {
  display: flex;
  align-items: flex-start;
}
.student_card img {
  width: 140px;
  height: 140px;
}
.student_card div {
  margin: 0 0 32px 32px;
  width: 280px;
}
.student_card div h3 {
  margin-top: 0px;
  font-size: 21px;
  font-family: "Fira Sans";
  font-weight: 400;
  color: #000;
  line-height: 1.325;
  text-align: left;
}
.student_card div p {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Fira Sans";
  letter-spacing: -0.5px;
  color: #727272;
  line-height: 1.5;
  text-align: left;
}

#courses {  
  padding-top: 72px;  
}

#finished {
  height: 600px;
  display: none;
  justify-content: center;
  align-items: center;
}

#finished h2 {
  font-size: 42.278px;
  line-height: 0.662;
  color: rgb(140, 195, 75);  
}

#finished i {
  font-size: 30px;
  color: rgb(140, 195, 75);
  line-height: 0.1;  
  margin-right: 10px;
}

.courses-grid {
  margin: 32px auto 64px auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.course-card {  
  min-height: 300px;
  width: 300px;
  border-radius: 2px;  
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;  
  vertical-align: middle;
  background-color: #fff;  
  position: relative;
}

.overlay {
  display: none;  
  position: absolute;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #8cc34b;
}

.course-card img {
  width: 100%;
}

.course-card .description {
  padding: 15px 20px;
  box-sizing: border-box;
  position: relative;
}

.course-card .description .hover-line {
  position: absolute;
  left:0;
  top:-5px;
  background: #8cc34b;
  height: 5px;
  width: 100%;
  opacity: 0;
}

.course-card h3 {  
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 21px;
  font-family: "Fira Sans";
  font-weight: 400;
  color: rgb(33, 33, 33);
  line-height: 1.325;  
  text-align: left;  
  background-color: white;
}

.course-card:hover {
  cursor: pointer;
}

.course-card:hover h3 {
  color: rgb(140, 195, 75);
}

.course-card:hover .hover-line {
  opacity: 1;
}

.course-card p {
  font-size: 14px;
  font-family: "Fira Sans";
  color: rgb(114, 114, 114);
  line-height: 1.5;
  text-align: left;
}

.course-card .estimated-time {
  margin-top: 10px;
  color: rgb(182, 182, 182);
  text-align: left;
}

.course-card .estimated-time span {
  font-size: 14px;
  font-family: "Fira Sans";
  font-weight: 300;
}

.watched {
  height: 50px;
  cursor: inherit;
  background-color: #f6f7f2;
  text-align: left;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;  
  font-size: 18px;
  font-family: "Fira Sans";
  color: rgb(114, 114, 114);
  vertical-align: middle;
  text-align: left;
  user-select: none;
}
.checkbox+label::before {
  margin-right: 10px;
  width: 20px;
  height: 20px;  
  box-sizing: border-box;
  border: 2px solid gray; 
  border-radius: 2px;
  content: '';
  color: #fff;
  font-size: 14px;
  font-family: 'FontAwesome'; 
  text-align: center; 
  line-height: 1.2;
}

.checkbox:checked+label::before {
  content: '\f00c ';
  border-color: rgb(140, 195, 75);
  background-color: rgb(140, 195, 75);  
}

.clr {
  height: 72px;
  clear: both;
}
footer {
  z-index: 3;
  height: 72px;
  margin-top: -72px;
  line-height: 72px;
  text-align: center;
  background-color: #212121;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.5;
}
