@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9B4kDNxMZdWfMOD5VnPKruQQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9E4kDNxMZdWfMOD5VfkA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasans/v15/va9B4kDNxMZdWfMOD5VnZKvuQQ.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  min-height: 100%;
  background-image: url("bg.png");
  margin: 0 auto;
}
header {
  height: 90px;
  z-index: 1;
  background-color: #8cc34b;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.header_inner {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
}
.avatar {
  float: left;
  width: 66px;
  height: 66px;
  margin-left: 26px;
}
.author_text_container {
  float: left;
  margin-left: 16px;
}
.icons {
  float: left;
  margin-left: auto;
  margin-right: 24px;
  font-size: 35px;
}
.icons a {
  color: rgba(255, 255, 255, 0.702);
  margin-left: 10px;
  text-decoration: none;
}
.icons a:hover {
  color: #fff;
}
.author_name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 21px;
  color: #ffffff;
  line-height: 1.333;
  text-align: left;
}
.author_email {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.702);
  line-height: 2;
  text-align: left;
}
.about_student {
  height: 401px;
  background-color: #fff;
  padding-top: 72px;
  display: block;
}
.about_student .about_student_inner {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
}
.about_student .about_student_inner h3 {
  font-size: 42px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  color: #212121;
  line-height: 0.662;
  text-align: center;
}
.about_student .about_student_inner h4 {
  margin-top: 32px;
  font-size: 21px;
  font-family: "Fira Sans";
  font-weight: 300;
  letter-spacing: -1px;
  color: #727272;
  line-height: 1.325;
  text-align: center;
}
.student_card {
  display: flex;
  align-items: flex-start;
  width: 600px;
}
.student_card img {
  width: 107px;
  height: 107px;
}
.student_card div {
  margin-left: 16px;
}
.student_card div h4 {
  font-size: 21px;
  font-family: "Fira Sans";
  font-weight: 400;
  letter-spacing: -1px;
  color: #000;
  line-height: 1.325;
  text-align: left;
}
.student_card div p {
  margin-top: 10px;
  font-size: 14px;
  font-family: "Fira Sans";
  letter-spacing: -0.5px;
  color: #727272;
  line-height: 1.5;
  text-align: left;
}
.clr {
  height: 72px;
  clear: both;
}
footer {
  z-index: 3;
  height: 72px;
  margin-top: -72px;
  line-height: 72px;
  text-align: center;
  background-color: #212121;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
footer span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.502);
  line-height: 1.5;
}
